<p>HELLO!</p>
<p>WELCOME!</p>

<img src="https://t3.ftcdn.net/jpg/01/00/65/64/360_F_100656447_xzaQm1D1p6oWUX4WCBX7LiDyD8Dw9sJw.jpg"alt="Todo LIST IMAGE" class="Todo-image">

<h2>Todo List</h2>

<div class="addtask">
<input [(ngModel)]="newTask" placeholder="ENTER THE TASK">
<button (click)="addTask()">Add Task</button>
</div>

<div class="taskList">
<li *ngFor="let todoItem of todoList;let i=index">

<input type="checkbox" name="" id="" (change)="toggleCompleted(i)">
<span [class.completed]="todoItem.completed" >{{todoItem.task}}</span>
<button class="deleteButton" (click)="deleteTask(todoItem.id)">Delete</button>

</li>
</div>


<router-outlet/>

